/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* start mine global */
body {
    -moz-user-select: none;
}

button {
    outline: 0 !important;
}

.has-error .form-control {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 3px #ce8483;
}

.inputnumber-parent,
.inputnumber-parent label {
    cursor: ew-resize;
}

#inputnumber_cover {
    cursor: ew-resize;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
	height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999;
}

#inputnumber_cover.not-allowed {
    cursor: not-allowed;
}

.dropdown-menu {
    font-size: 1.3em;
    min-width: 100%;
}

/* ConfirumUI element */

#confirmui_cover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    top: 0;
    left: 0;
}
#confirmui_dialog h3 {
    margin: 0 0 15px 0;
}
#confirmui_dialog {
    width: 50vw;
    position: absolute;
    left: 25vw;
    bottom: 30vh;
    background-color: #fff;
    background-image: none;
    transition: bottom 300ms;
}
#confirmui_dialog button {
    background-color: #fff;
    background-image: none;
}

#confirmui_dialog button:hover {
    background-color: #fff;
    background-image: inherit;
}

/* start NewRecordingPage */
#NewRecordingPage a {
    outline: 0;
}

#NewRecordingPage #messages .alert {
    margin-top: -10px;
}

#NewRecordingPage .header h3 {
	background: transparent url("chrome://screencastify/content/resources/images/icon-color22.png") no-repeat scroll 0 50%;
	padding-left: 28px;
}

#NewRecordingPage #controls {
    text-align: center;
    margin-bottom: 30px;
}

#NewRecordingPage #options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#NewRecordingPage #options input {
    width: 4em;
    text-align: center;
}

#NewRecordingPage:not(.recording_uninit) #settings {
    opacity: 0.5;
    cursor: not-allowed;
}
#NewRecordingPage:not(.recording_uninit) #settings_content {
    pointer-events: none;
}

#NewRecordingPage #video {
    width: 100%;
}

#NewRecordingPage #actions {
    text-align: center;
    margin-bottom: 5px;
}
